.colorBackground {
    left: 50%;
    transform: translateX(-50%);
    max-height: 800px;
    height: 80vh;
    max-width: 1400px;
    width: 70vw;
    width: 100%;
    filter: blur(44px);
    z-index: -1;
  }
  
  .colorBackgroundBottom {
    left: 50%;
    transform: translateX(-50%) rotate(190deg);
    /* mix-blend-mode: normal; */
    height: 600px;
    max-width: 900px;
    width: 55vw;
    width: 100%;
    filter: blur(44px);
    z-index: -1;
  }
  