@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
	font-family: 'Montserrat', sans-serif;
}

.tag-top::after{
	content:'•';
}

.image-span span{
	height: 100% !important;
}

.post-image{
	width: 350px !important;
	 height: 250px !important;
	 position: relative !important;
	 object-fit: cover !important;
	}

	.header-image{
		width: 350px !important;
		 height: 100% !important;
		 position: relative !important;
		 object-fit: cover !important;
		}
	

	.postImage{
		width: 100% !important;
		height: 500px !important;
		position: relative !important;
		object-fit: cover !important;
   
	}

	.image-container span{
position: relative !important;	
	}